[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ciiiii/oh-my-zsh.git
[submodule "spaceship-prompt"]
	path = spaceship-prompt
	url = https://github.com/ciiiii/spaceship-prompt.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
